{% include "cms_header.html" %}

{% block menu %}
{% endblock %}

<div class="centered">

  {% for message in messages %}
    <div class="box">{{ message | raw }}</div>
  {% endfor %}

  {% if buttons %}
  <div class="submenu">
    {% for button in buttons %}
      {% if button.icon %}
        <a class="button {{button.icon}} icon" href="{{ button.link }}">{{ button.name }}</a>
      {% else %}
        <a class="button" href="{{ button.link }}">{{ button.name }}</a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  {% block content %}
  {% endblock %}

</div><!-- Centered -->

<div class="footer">Creamy &ndash; A deliciously simple CMS. {{ loginstatus }}</div>

<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="lib/wmd/showdown.js"></script>

{% include "cms_footer.html" %}
