{% include "cms_header.html" %}

<div class="login">
	<img alt="Creamy CMS" src="theme/img/creamy.png"></img>
	<form name="login" action="" method="post">
		<table>
			<tr>
				<td>Username:</td>
				<td><input type="text" name="username" value="" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" name="password" value="" /></td>
			</tr>
      <tr>
        <td></td>
        <td><input class="button" type="submit" name="submit" value="Login" /></td>
      </tr>
		</table>
	</form>
</div>

{% include "cms_footer.html" %}
