/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

body {
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
}

a {
  color: red;
}

.head {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: red 2px solid;
}

.head img {
  margin-right: 20px;
}

.menu li{
  display: inline;
  float: left;
  list-style: none;
  list-style-type: none;
  padding: 5px;
  margin-top:25px;
}

.menu li a {
  background-color: White;
  font-size: 120%;
  padding: 7px 14px 7px 14px;
  border: 2px red solid;
  border-bottom: none;
  text-decoration: none;
}

.menu li a:hover {
  background-color: WhiteSmoke;
}

.centered {
  margin: auto;
  width: 980px;
  
}

.editor-view {
  min-height: 500px;
}

.panel {
  width: 49%;
  height: 500px;
  display: block;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.button { 
  color: #777777; 
  font-size: 1.1em; 
  padding: 0px 4px 2px 4px; 
  border: 1px solid #CCCCCC; 
  cursor: pointer;
  background-color: WhiteSmoke; 
  color: #333; 
  text-decoration: none;
  padding: 0px 4px 2px 4px;
}

.button:hover { 
  color: black; 
  background-color: white ; 
}

.editor-head .button {
  margin-top: 7px;
}

.footer {
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 80%;
  padding: 10px 0 10px 0;
  border-top: 1px solid red;
  color: #555;
}

.content-list {
  width: 100%;
}

.content-list a {
  text-decoration: none;
}

table {
  border: 1px solid red;
}

table th {
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 120%;
}

table tr {
  padding: 10px;
  border: 1px solid red;
}

table a {
  padding: 10px;
  display: block;
  height: 100%;
}

table a:hover {
  background-color: WhiteSmoke;
}

.login {
  position:absolute;
  left:50%;
  top:50%;
  height:300px;
  width:325px;
  margin-top:-150px;
  margin-left:-162px;
  text-align: center;
}

.login img {
  margin-bottom: 30px;
}

.login table {
  border: none;
  width: 100%;
}

.login tr {
  border: none;
  font-size: 110%;
}

.login td input{
  padding: 4px;
  margin-left: 10px;
  font-size: 110%;
}

.login td input:hover{
  background-color: WhiteSmoke;
}

.box {
  background-color: LightYellow;
  background-image: url("../img/info.gif");
  background-repeat: no-repeat;
  background-position: 20px 10px;
  padding: 10px 10px 10px 50px;
}
