/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

body {
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
}

a {
  color: red;
}

.head {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: red 2px solid;
}

.head img {
  margin-right: 20px;
}

.menu li{
  display: inline;
  float: left;
  list-style: none;
  list-style-type: none;
  padding: 5px;
  margin-top:25px;
}

.menu li a {
  background-color: White;
  font-size: 120%;
  padding: 7px 14px;
  border: 2px red solid;
  border-bottom: none;
  text-decoration: none;
}

.menu li a:hover {
  /*border-top: 7px red solid;*/
  padding: 10px 14px 7px 14px;
}

.head .button {
  margin-top: 20px;
}

.centered {
  margin: auto;
  width: 980px;
  
}

.editor-view {
  min-height: 500px;
}

.panel {
  width: 49%;
  height: 500px;
  display: block;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.button { 
  color: #777777; 
  font-size: 1.1em; 
  border: 1px solid #CCCCCC; 
  cursor: pointer;
  background-color: #ededed; 
  color: #333; 
  text-decoration: none;
  padding: 2px 6px 4px 6px;
}

.button:hover { 
  color: black; 
  background-color: white ; 
}

.icon {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.button.save {
  background-image: url("../img/save.gif");
}


.del { 
  color: #777777; 
  font-size: 1.1em; 
  cursor: pointer;
  text-decoration: none;
  margin-top:5px;
  padding: 2px 6px 4px 25px;
  color: gray; 
  background-color: white ; 
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-image: url("../img/delete.gif");
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.del:hover {
  color: black;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity:1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
}

.button.back {
  background-image: url("../img/back.gif");
}

.button.refresh {
  background-image: url("../img/refresh.gif");
}

.button.new {
  background-image: url("../img/new.gif");
}

.entry {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 5px 12px;
}

.entry:hover {
  background-color: WhiteSmoke;
}

.multi {
  background-image: url("../img/expand.gif");
}

.editor-head .button {
  margin-top: 7px;
}

.footer {
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 80%;
  padding: 10px 0 10px 0;
  border-top: 1px solid red;
  color: #555;
}

.content-list {
  width: 100%;
}

.content-list a {
  text-decoration: none;
}

table {
  border: 1px solid red;
  margin-bottom: 20px;
}

table th {
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 120%;
}

table tr {
  padding: 10px;
  border: 1px solid red;
}

table a {
  padding: 10px;
  display: block;
  height: 100%;
}

.login {
  position:absolute;
  left:50%;
  top:50%;
  height:300px;
  width:325px;
  margin-top:-150px;
  margin-left:-162px;
  text-align: center;
}

.login img {
  margin-bottom: 30px;
}

.login table {
  border: none;
  width: 100%;
}

.login tr {
  border: none;
  font-size: 110%;
}

.login td input{
  padding: 4px;
  margin-left: 10px;
  font-size: 110%;
}

.login td input:hover{
  background-color: WhiteSmoke;
}

.submenu {
  background-color: #ccc;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.box {
  background-color: LightYellow;
  background-image: url("../img/info.gif");
  background-repeat: no-repeat;
  background-position: 20px 10px;
  padding: 10px 10px 10px 50px;
  margin-bottom: 10px;
}

.wmd-button {
  background-image: url("../img/wmd-buttons.png");
}

#wmd-button-row {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 7px;
  padding: 0px;
}

#wmd-preview {
  font-size: 80%;
}

.panel .metadata {
  padding-right: 16px;
  margin-bottom: 2px;
}
.panel input {
  font-size: 110%;
  width: 100%;
  padding: 10px;
  background-color: WhiteSmoke;
  border: none;
}
